*{
    font-family: sans-serif;
    background-color: #D3B6CE;
}
.container {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
}
.game-wrapper {
    padding: 40px;
    box-sizing: border-box;
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
}
.game {
    height: 100%;
}
.field {
    width: calc(100%/3 - 2.25px);
    height: calc(100%/3 - 2.25px);
    float: left;
    border-style: solid;
    border-color: #44213E;
    text-align: center;
    font-size: 120px;
    cursor: pointer;
}
.clearer {
    clear: both;
    display: block;
}

#top-left {
    border-width: 0 1.5px 1.5px 0px;
}
#top-center {
    border-width: 0 1.5px 1.5px 1.5px;
}
#top-right {
    border-width: 0 0 1.5px 1.5px;
}
#center-left {
    border-width: 1.5px 1.5px 1.5px 0px;
}
#center-center {
    border-width: 1.5px 1.5px 1.5px 1.5px;
}
#center-right {
    border-width: 1.5px 0 1.5px 1.5px;
}
#bottom-left {
    border-width: 1.5px 1.5px 0 0;
}
#bottom-center {
    border-width: 1.5px 1.5px 0 1.5px;
}
#bottom-right {
    border-width: 1.5px 0 0 1.5px;
}

.info {

}

.display{
    text-align: center;
}
.display.winner {
    font-size: 24px;
    padding: 20px;
}
.player {
    display: inline-block;
    width: 50px;
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.player.active {
    background-color: #F1D9ED;
}
.action {
    border: 2px solid #351930;
    padding: 10px;
    border-radius: 5px;
    background-color: #271223;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (min-width: 901px) and (max-width: 1100px) {
    .game-wrapper {padding: 30px;}
    .field {font-size: 105px;}
}

@media only screen and (min-width: 725px) and (max-width: 900px) {
    .game-wrapper {padding: 22.5px;}
    .field {font-size: 85px;}
}

@media only screen and (min-width: 570px) and (max-width: 724px) {
    .game-wrapper {padding: 17.5px;}
    .field {font-size: 67px;}
}

@media only screen and (min-width: 400px) and (max-width: 569px) {
    .game-wrapper {padding: 10px;}
    .field {font-size: 50px;}
}

@media only screen and (min-width: 200px) and (max-width: 419px) {
    .game-wrapper {padding: 0;}
    .field {font-size: 30px;}
}

@media only screen and (max-width: 200px) {
    .game-wrapper {padding: 0;}
    .field {font-size: 15px;}
}
